<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.miidi.sample.push"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" />
    
    <!-- 连接网络权限INTERNET (必须)-->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- 用于下载前检查网络状态 (必须)-->	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  
    <!-- 往SDCard写入数据权限(必须) -->  
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 获取设备相关信息(必须) -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />	
	<!-- 获取mac地址 ，支持一些Pad设备不能获取imei的bug(必须) -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MiidiSample_PushActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 显示应用列表和详细信息(必须) -->          
        <activity android:name="net.miidipush.SDK.AA" android:configChanges="keyboardHidden|orientation" />
        
        <!-- 广告计费(必须)  --> 
        <receiver android:name="net.miidipush.SDK.AR">
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_ADDED" />
				<data android:scheme="package" />
			</intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

		</receiver>
        
        <!-- 广告服务(必须)  -->        
        <service android:name="net.miidipush.SDK.AS" />
    </application>

</manifest>