<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolstore.wangcai"
    android:versionCode="2"
    android:versionName="1.2" >
  	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />

	<permission android:name="com.coolstore.wangcai.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
	
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>  
	<uses-permission android:name="com.coolstore.wangcai.permission.JPUSH_MESSAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.INTERNET" />		
	<uses-permission android:name="android.permission.RECEIVE_SMS" />	
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />  
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	
	<!-- winads -->
	<!--  
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	-->
	
    <application
       android:allowBackup="true"
       android:icon="@drawable/ic_launcher"
       android:label="@string/app_name"
       android:theme="@style/WangcaiTheme" >
       <activity
           android:name="com.coolstore.wangcai.activity.StartupActivity"
           android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
           android:screenOrientation="portrait" 
           android:label="@string/app_name" >
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
       </activity>
 
       <activity android:name="com.coolstore.wangcai.activity.OfferWallActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.MyWangcaiActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.InviteActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.LotteryActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.SettingActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.WebviewActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.ExchageGiftActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.ExtractListActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.RegisterActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize|stateHidden" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.RegisterSucceedActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.SurveyListActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.SurveyActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.SurveyRuleActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.ExtractAliPayActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.ExtractPhoneBillActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.ExtractQBiActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.WriteInviteCodeAcitivty" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.ExtractSucceedActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.coolstore.wangcai.activity.MidiActivity" android:screenOrientation="portrait" android:theme="@style/WangcaiTheme" />
       <activity android:name="com.imopan.mpwall.MpWallActivity" android:configChanges="keyboardHidden|orientation" />
       
       <!-- winads -->
       <!-- 
		<activity android:name="ztxi.fxmi.plhr.offers.OffersActivity" android:screenOrientation="portrait"/>
		<activity android:name="ztxi.fxmi.plhr.offers.FeedBackInfo" android:screenOrientation="portrait" android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
		<service android:name="ztxi.fxmi.plhr.offers.parameter.SyService"/>
		<receiver android:name="ztxi.fxmi.plhr.offers.AutoOpenReceiver" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.offers.REDOWNLOAD" />
			</intent-filter>
		</receiver> 
        -->

		<!-- 点乐 -->
        <activity android:name="com.dlnetwork.DianleGoogleActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboardHidden|orientation"/>
		<service android:name="com.dlnetwork.DianleGoogleService" />
       
       
		<activity
            android:name="com.coolstore.wangcai.Share.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" />
       
		<activity
			android:name="cn.sharesdk.framework.ShareSDKUIShell"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize"  />

       <activity android:name="cn.domob.download.OActivity" />
	
		<activity android:name="com.jpmob.sdk.wall.JupengWallActivity" android:configChanges="keyboardHidden|orientation" /> 
		
		<receiver android:name="com.coolstore.wangcai.base.SmsReader" android:enabled="true"  android:priority="1000" >
			<intent-filter>	
			    <action android:name="android.provider.Telephony.SMS_RECEIVED" />	
			</intent-filter>	
		</receiver>
		<receiver android:name="com.winad.android.wall.BootReceiver" >
			<intent-filter >
				<action android:name="android.intent.action.PACKAGE_ADDED" />
				<data android:scheme="package" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.adwall.REDOWNLOAD" />
			</intent-filter>
		</receiver>

		<service android:name="com.punchbox.engine.PunchBoxService"
				android:process="com.punchbox.punchboxservice"
				android:exported="true">
			<intent-filter>
				<action android:name="com.punchbox.service"/>
			</intent-filter>
		</service> 
		<activity
		    android:name="net.youmi.android.AdBrowser"
		    android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
		    android:theme="@android:style/Theme.Light.NoTitleBar" >
		</activity>
		<service
		    android:name="net.youmi.android.AdService"
		    android:exported="false" >
		</service>
		<service
		    android:name="net.youmi.android.ExpService"
		    android:exported="false" >
		</service>
		<receiver
		    android:name="net.youmi.android.AdReceiver" >
		    <intent-filter>
		        <action android:name="android.intent.action.PACKAGE_ADDED" />
		        <data android:scheme="package" />
		    </intent-filter>
		</receiver>
		<receiver
		    android:name="net.youmi.android.offers.OffersReceiver"
		    android:exported="false" >
		</receiver>
		<meta-data android:name="chukong_publisherid" android:value="818634143-F1E6F8-9D9E-205F-0D3DD3B66"/>
		
		<!-- 友盟 -->
		<meta-data android:value="5359d94e56240b7fa40a95c7" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="wangcai_official" android:name="UMENG_CHANNEL"/>
		
		<!-- 安沃 -->
		<!-- 
		<activity
			android:name="com.zkmm.appoffer.AppOfferActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:launchMode="singleTask" >
		</activity>
		<receiver
			android:name="com.zkmm.appoffer.ZkmmBroadcastReceiver">
			<intent-filter>
				<action
					android:name="android.intent.action.PACKAGE_REPLACED">
				</action>
				<action
				android:name="android.intent.action.PACKAGE_ADDED">
				</action>
				<data android:scheme="package"></data>
			</intent-filter>
		</receiver>
		 -->
		
		<!-- 	极光推送 -->
		<!-- Required -->
		<service android:name="cn.jpush.android.service.PushService" android:enabled="true" android:exported="false" >
			<intent-filter>
				<action android:name="cn.jpush.android.intent.REGISTER" />
				<action android:name="cn.jpush.android.intent.REPORT" />
				<action android:name="cn.jpush.android.intent.PushService" />
	               <action android:name="cn.jpush.android.intent.PUSH_TIME" />
			</intent-filter>
		</service>
		<!-- Required -->
		<receiver android:name="cn.jpush.android.service.PushReceiver" android:enabled="true" >
	            <intent-filter android:priority="1000" >
	               <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
	               <category android:name="com.coolstore.wangcai" />
	           </intent-filter>
	           <intent-filter>
	               <action android:name="android.intent.action.USER_PRESENT" />
	               <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
	           </intent-filter>
	            <!-- Optional -->
	           <intent-filter>
	               <action android:name="android.intent.action.PACKAGE_ADDED" />
	               <action android:name="android.intent.action.PACKAGE_REMOVED" />
	               <data android:scheme="package" />
	           </intent-filter>
		</receiver>
		<!-- Required SDK:RICH PUSH-->
		<activity android:name="cn.jpush.android.ui.PushActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="orientation|keyboardHidden" >
			<intent-filter>
				<action android:name="cn.jpush.android.ui.PushActivity" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="com.coolstore.wangcai" />
			</intent-filter>
		</activity>
		<!-- Required SDK:RICH PUSH-->
		<service android:name="cn.jpush.android.service.DownloadService" android:enabled="true" android:exported="false" >		</service>
		<!-- Required SDK-->
		<receiver android:name="cn.jpush.android.service.AlarmReceiver" />
		<!-- Required. For publish channel feature -->
		<meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
		<!-- Required. AppKey copied from Portal -->
		<meta-data android:name="JPUSH_APPKEY" android:value="f7166a77eb250c605a468df3"/>
		
		<receiver android:name="com.coolstore.wangcai.base.PushReceiver" android:enabled="true">
		    <intent-filter>
		        <action android:name="cn.jpush.android.intent.REGISTRATION" />
		        <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
		        <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
		        <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
		        
		        <category android:name="com.coolstore.wangcai" />
		    </intent-filter>
		</receiver>
		
			
		<!-- 	winads -->
		<!-- 
		<meta-data android:value="1F4962C41354D7934F99474B7DAE1E1B0526C5C8" android:name="PUBLISHER_ID_OFFERS" />
		<meta-data  android:value="false"  android:name="TESTMODE_OFFERS"  />
		<meta-data android:name="INTEGRAL_PROXY_ID" android:value="1" /> 
		-->
   </application>
   
</manifest>

